@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* font-family: 'Roboto Condensed', sans-serif; */

html,
body {
    font-weight: 400;
    color: rgb(29, 29, 29);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Roboto Condensed', sans-serif;
}

textarea {
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
}
.active {
    font-weight: 700;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header_up {
    height: 56px;
    padding: 10px;
    background-color: rgb(27, 129, 167);
    box-shadow: rgba(51, 51, 51, 0.219) 0 5px 10px 0;
}

.headercontent {
    display: flex;
    justify-content: space-between;
}

main {
    /*min-height: calc(100vh - 176px);*/
}

main .container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(240, 240, 240);
    background-color: rgb(27, 129, 167);
}

h2{
    text-align: center;
}
.header_right {
    display: flex;
    align-self: center;
}

.header_right a {
    display: inline-block;
    text-align: center;
    width: 80px;
    padding: 5px;
    color: rgb(29, 29, 29);
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.logo_site {}

.logo_site a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.logo_site p {
    color: rgba(59, 15, 15, 0.514);
    margin: 0;
}


.auth_reg button {
    background-color: rgb(170, 22, 59);
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.admin_panel{
    min-height: calc(100vh - 76px);
    display: flex;
}
.admin_sidebar{
    width: 300px;
    background-color: #2d3748;
    height: inherit;
}
.admin_sidebar h2{
    padding-bottom: 16px;
    color: #f7fafc;
    border-bottom: #f7fafc 1px solid;
}
.admin_sidebar ul{
    margin-left: 30px;

}
.admin_sidebar ul li{
    margin-bottom: 10px;
}
.admin_sidebar a{
    color: white;
}
.admin_content{
    width: 100%;
}

.adminWorkspace_title {
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminWorkspace_title a{
    border-radius: 2px;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: rgb(27, 129, 167);
}
.admin_table {
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    border: 2px solid #767676;
    overflow: hidden;
}
.admin_table th{
    height: 50px;
    border-bottom: 1px dashed #636363;
}
.admin_table a {
    color: #2d3748;
}
.admin_table i {
    margin: 0 3px;
}
.admin_table a:hover {
    color: #2d67ce;
}
.admin_table tr{
    border-radius: 10px;
    background-color: #ffffff;
}

.admin_table tr:nth-child(2n){
    background-color: #e5e5e5;
}
.admin_table td {
    text-align: center;
    padding: 10px;
}
.admin_table td:last-child{
    width: 70px;
    text-align: center;
}

/* create_edit Form */

.admin_create_edit_form {
    padding: 20px;
}
.admin_create_edit_form input{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    display: block;
    width: 100%;
}
.admin_create_edit_form select{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #fdfdfd;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    display: block;
    width: 100%;
    /*width: calc(100% - 10px);*/
}
.admin_create_edit_form textarea{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #fdfdfd;
    resize: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 10px;
}
.admin_create_edit_form button{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #4a5568;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.1s;
}

.admin_create_edit_form button:hover{
    background-color: #1a202c;
}

.green{
    background-color: #ceffb8;
    border: 1px solid green;
    border-radius: 10px;

}
.status_operation_message{
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    color: #4a5568;
}
