@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(29, 29, 29);
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
}

a{
    font-family: 'Montserrat', sans-serif;
}
input {
    font-family: 'Montserrat', sans-serif;
}
textarea{
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}
.active {
    font-weight: 700;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header_up {
    padding: 10px;
    background-color: rgb(27, 129, 167);
    box-shadow: rgba(51, 51, 51, 0.219) 0 5px 10px 0;
}

.headercontent {
    display: flex;
    justify-content: space-between;
}

main .container {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(240, 240, 240);
    background-color: rgb(27, 129, 167);
}

h2{
    text-align: center;
}
.header_right {
    display: flex;
    align-self: center;
}

.header_right ul{
    display: flex !important;
    flex-direction: row;
}

.header_right ul a {
    color: #1b1e21;
}
.log_reg-button{
    display: flex !important;
    color: white;
    border: 1px solid rgba(125, 125, 125, 0.55);
    border-radius: 3px;
    background-color: #f6f6f6;
    padding: 0 5px;
}
.log_reg-button:not(:last-child){
    margin-right: 10px;
}

.logo_site {}

.logo_site a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.logo_site p {
    color: rgba(59, 15, 15, 0.514);
    margin: 0;
}


.auth_reg button {
    background-color: rgb(170, 22, 59);
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.admin_panel{
    min-height: calc(100vh - 76px);
    display: flex;
}
.admin_sidebar{
    min-width: 300px;
    background-color: #2d3748;
    height: inherit;
}
.admin_sidebar h2{
    font-size: 20px;
    font-weight: 700;
    padding: 16px 0;
    color: #f7fafc;
    border-bottom: #f7fafc 1px solid;
}
.admin_sidebar ul{
    margin-left: 30px;

}
.admin_sidebar ul li{
    margin-bottom: 10px;
}
.admin_sidebar a{
    text-decoration: none;
    color: white;
}
.admin_content{
    width: 100%;
}

.adminWorkspace_title {
    padding: 10px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminWorkspace_title h2{
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.adminWorkspace_title a{
    min-width: max-content;
    border-radius: 2px;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: rgb(27, 129, 167);
}

/* table */
.admin_table {
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 10px;
    overflow: hidden;
}
.admin_table th{
    text-align: center;
    padding: 10px;
    height: 50px;
    border-bottom: 1px dashed #636363;
}
.admin_table a {
    color: #2d3748;
}
.admin_table i {
    margin: 0 3px;
}
.admin_table a:hover {
    color: #2d67ce;
}
.admin_table tr{
    transition: background-color 0.1s;
    border-radius: 10px;
    background-color: #ffffff;
}

.admin_table tr:nth-child(2n){
    background-color: #e5e5e5;
}

.admin_table tr:not(:first-child):hover{
    background-color: #b8deef;
}
.admin_table td {
    text-align: center;
    padding: 10px;
}
.admin_table td:last-child{
    width: 95px;
    text-align: center;
}

/* create_edit Form */

.admin_create_edit_form {
    padding: 20px;
}
.admin_create_edit_form input{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    display: block;
    width: 100%;
}
.admin_create_edit_form select{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #fdfdfd;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    display: block;
    width: 100%;
}
.admin_create_edit_form textarea{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #fdfdfd;
    resize: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    min-height: 200px;
    padding: 10px;
}
.admin_create_edit_form button{
    border: 1px solid rgba(81, 98, 156, 0.53);
    border-radius: 10px;
    background-color: #4a5568;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    transition: background-color 0.1s;
}

.admin_create_edit_form button:hover{
    background-color: #1a202c;
}

/* paginator */

.custom_Paginator{
    margin: 0 10px;
    display: flex;
    font-size: 20px;
}
.custom_Paginator a{
    text-decoration: none;
    display: block;
    background-color: white;
    color: #3e3e3e;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
}
.custom_Paginator span{
    display: block;
    background-color: white;
    color: #3e3e3e;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
}
.custom_Paginator span:hover{
    background-color: #dbdbdb;
}
.custom_Paginator a:hover{
    background-color: #dbdbdb;
}
.custom_paginator_currentPage{
    background-color: rgb(27, 129, 167) !important;
    color: #f6f6f6 !important;
}
.custom_button_paginator{
    overflow: hidden;
    border: 1px solid rgba(97, 94, 94, 0.53);
}
.custom_button_paginator:not(:first-child){
    border-left: none;
}
.custom_button_paginator:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.custom_button_paginator:last-child{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.inactive_arrow{
    color: #adadad;
}


/* message */
.status_operation_message{
    text-align: center;
    padding: 10px;
    margin: 0 10px 10px;
    color: #4a5568;
    border-radius: 5px;
}
.green{
    color: #046d00;
    background-color: #ceffb8;
    border: 1px solid green;
}
.red{
    color: #6a0000;
    background-color: #ffc0c0;
    border: 1px solid #ffadad;
}

